body {
  font: 100% "Montserrat", sans-serif;
  color: #333;
  background: url(/img/halftone.png) rgba(241, 255, 0, 0.17);
  padding: 10%; }

h1 {
  font-size: 14em;
  line-height: .8em;
  text-transform: uppercase;
  letter-spacing: -.08em;
  color: #ff4a00;
  margin: 0;
  position: relative;
  mix-blend-mode: multiply; }

h1:before {
  content: "Corey Kolb";
  opacity: .7;
  position: absolute;
  top: 3px;
  left: 4px;
  background-image: url(/img/bg-red.png);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 20px;
  transform: rotate(-0.51deg); }

.masthead {
  background: url(/img/kolb-logo-blue.svg) no-repeat;
  background-size: contain;
  padding-left: 200px;
  height: 260px; }

h2 {
  font: 7em "Yellowtail", cursive;
  margin: 0;
  line-height: 1.6em; }

h3 {
  text-shadow: 0px 1px 2px #fff; }

ul {
  list-style: none;
  border-left: 3px solid red;
  padding-left: 1em; }
