$font-stack:    'Montserrat', sans-serif;
$secondary-font-stack: 'Yellowtail', cursive;
$primary-color: #333;
$kolb-blue: #2683EA;

::selection {
  background: red; /* WebKit/Blink Browsers */
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  background: url(/img/halftone.png) rgba(241, 255, 0, 0.17);
  padding: 2% 10% 15% 10%;
}
 h1 {
 	font-size: 14em;
 	line-height: .8em;
 	text-transform: uppercase;
 	letter-spacing: -.08em;
 	color: rgba(255, 74, 0, 1);
 	margin: 0;
 	position: relative;
 	mix-blend-mode: multiply;
 }
 h1:before {
 	content: "Corey Kolb";
	opacity: .7;
	position: absolute;
	top: 3px;
	left: 4px;
	background-image: url(/img/bg-red.png);
	background-clip: text;
	-webkit-background-clip: text;
	color: rgba(0,0,0,0);
	margin-bottom: 20px;
	transform: rotate(-.51deg)

 }

 h2{
	font: 7em $secondary-font-stack;
	margin: 0;
	line-height: 1.6em;
 }

 h3{
 	text-shadow: 0px 1px 2px #FFFFC4;
 }
 ul {
	list-style: none;
	border-left: 3px solid red;
	padding-left: 1em;
}
.intro{
	font-size: 6em;
}
.empahsis{
	background: url(/img/halftone-yellow.jpg);
	color: red;
}

a{
	text-decoration: none;
	color: $primary-color;
    box-shadow: inset 0 -.15em 0 red;
}

.masthead{
 	background: url(/img/kolb-logo-blue.svg) no-repeat;
 	background-size: contain;
 	padding-left: 200px;
	height: 260px;
	margin-bottom: 4em;

 }

.content-strat{
	width: 100%;
	background: url(/img/halftone-yellow.jpg);
	position: relative;
}

.content-strat:before {
  right: 100%;
  content: "";
  position: absolute;
  background: url(/img/halftone-yellow.jpg);  /* Match the background */
  top: 0;
  bottom: 0;
  width: 9999px;   /* some huge width */
}
.content-strat:after {
  left: 100%;
  content: "";
  position: absolute;
  background: url(/img/halftone-yellow.jpg);  /* Match the background */
  top: 0;
  bottom: 0;
  width: 9999px;   /* some huge width */
}

/*fancy image hover effect*/
.grid {
	position: relative;
	/*clear: both;*/
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}
/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 1;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h3 span {
	font-weight: 800;
}

.grid figure h3,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.effect-julia {
	background: red;
}

figure.effect-julia img {
	max-width: none;
	height: 400px;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-julia figcaption {
	text-align: left;
}

figure.effect-julia h3 {
	color: red;
	position: relative;
	padding: 0.5em;
	background: url(/img/halftone.png);  
}

figure.effect-julia p {
	display: inline-block;
	margin: 0 0 0.25em;
	padding: 0.4em 1em;
	background: url(/img/halftone.png);
	color: #2f3238;
	text-transform: none;
	font-weight: 500;
	font-size: 75%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-360px,0,0);
	transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia:hover img {
	opacity: 0.25;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}