$font-stack:    'Montserrat', sans-serif;
$secondary-font-stack: 'Yellowtail', cursive;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background: url(/img/halftone.png) rgba(241, 255, 0, 0.17);
  padding: 10%;
}
 h1 {
 	font-size: 14em;
 	line-height: .8em;
 	text-transform: uppercase;
 	letter-spacing: -.08em;
 	color: rgba(255, 74, 0, 1);
 	margin: 0;
 	position: relative;
 	mix-blend-mode: multiply;
 }
 h1:before {
 	content: "Corey Kolb";
	opacity: .7;
	position: absolute;
	top: 3px;
	left: 4px;
	background-image: url(/img/bg-red.png);
	background-clip: text;
	-webkit-background-clip: text;
	color: rgba(0,0,0,0);
	margin-bottom: 20px;
	transform: rotate(-.51deg)

 }
 .masthead{
 	background: url(/img/kolb-logo-blue.svg) no-repeat;
 	background-size: contain;
 	padding-left: 200px;
	height: 260px;

 }

 h2{
	font: 7em $secondary-font-stack;
	margin: 0;
	line-height: 1.6em;
 }

 h3{
 	text-shadow: 0px 1px 2px #fff;
 }
 ul {
	list-style: none;
	border-left: 3px solid red;
	padding-left: 1em;
}