$font-stack:    'Montserrat', sans-serif;;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
 h1 {
 	font-size: 14em;
 	line-height: .8em;
 	text-transform: uppercase;
 	letter-spacing: -.08em;
 	color: rgba(255, 74, 0, 0.77);
 	margin: 0;
 	position: relative;
 }
 h1:before {
 	content: "digital Native";
 	color: rgba(65, 219, 244, 1);
	opacity: .7;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
 }